body{
    background-color: antiquewhite;
}

#container{
    background-color: aliceblue;
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 2px gray;
    border-radius: 5px;
}
#myInteraction{
    padding: 10px;
}