body{
    background-color: rgb(117, 111, 101);
}
#container{
    background-color: rgb(105, 71, 9);
    background-position: center;
    width: 30%;
    border-radius: 20px;
    margin: 10%;
    margin-left: 35%;
}

h2{
    text-align: left;
}

button{
    margin: 8%;
    border-radius: 20px;
    background-color: black;
    color: rgb(116, 83, 11);
    border:1px rgb(116, 83, 11);
}

button:hover{
    cursor:pointer;
    transform: scale(1.15);
    transition: 0.1s transform;
    border-radius: 10px;
    align-items: center;
}

img{ 
    max-width: 80%;
    max-height: 80%;
    border-radius: 20px;
    border: 2px rgb(113, 8, 8);
    margin: 10%;
}